public/ess2022.odd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © 2018 by the Music Encoding Initiative (MEI).
  Licensed under the Educational Community License, Version 2.0 (the "License"); you may
  not use this file except in compliance with the License. You may obtain a copy of the License
  at http://opensource.org/licenses/ECL-2.0.
  
  Unless required by applicable law or agreed to in writing, software distributed under the
  License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
  OF ANY KIND, either express or implied. See the License for the specific language
  governing permissions and limitations under the License.
  
  This is a derivative work based on earlier versions of the schema © 2001-2006 Perry Roland
  and the Rector and Visitors of the University of Virginia; licensed under the Educational
  Community License version 1.0.
  
  CONTACT: info@music-encoding.org
--><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Music Encoding Initiative Guidelines: 
          <title type="sub">All
          Customization</title>
        </title>
        <respStmt>
          <resp>Authored by</resp>
          <name xml:id="ESS2022">Participants of the ESS 2022 Class on Digital Editions</name>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change n="1" when="2022-09-09" who="#ESS2022" type="meigarage">
        <desc>ODD generated online with https://meigarage.edirom.de</desc>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <body>
      <!-- Limit the set of possible start elements -->
      <schemaSpec ident="mei" ns="http://www.music-encoding.org/ns/mei" prefix="mei_" start="mei">
        <!-- Declare MEI and XLink namespaces for use in Schematron -->
        <constraintSpec ident="set_ns" scheme="isoschematron" mode="add">
          <constraint>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="mei" uri="http://www.music-encoding.org/ns/mei"/>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
          </constraint>
        </constraintSpec>
        <!-- Include all modules -->
        <moduleRef key="MEI"/>
        <moduleRef key="MEI.cmn"/>
        <moduleRef key="MEI.critapp" except="lem"/>
        <moduleRef key="MEI.edittrans" except="damage abbr cpMark handShift metaMark"/>
        <moduleRef key="MEI.facsimile"/>
        <moduleRef key="MEI.frbr"/>
        <moduleRef key="MEI.gestural"/>
        <moduleRef key="MEI.header" except="carrierForm carrierForm changeDesc"/>
        <moduleRef key="MEI.lyrics"/>
        <moduleRef key="MEI.msDesc"/>
        <moduleRef key="MEI.namesdates"/>
        <moduleRef key="MEI.ptrref"/>
        <moduleRef key="MEI.shared"/>
        <moduleRef key="MEI.visual"/>
        <!-- Include SVG -->
        <moduleRef url="https://www.tei-c.org/release/xml/tei/custom/schema/relaxng/svg11.rng" prefix="svg_">
          <content>
            <rng:define name="mei_model.graphicLike" combine="choice">
              <rng:ref name="svg_svg"/>
            </rng:define>
          </content>
        </moduleRef>
        <classSpec type="atts" ident="att.coloration" mode="delete"/>
        <classSpec type="atts" ident="att.timestamp.gestural" mode="delete"/>
        <classSpec type="atts" ident="att.noteHeads" mode="delete"/>
        <classSpec type="atts" ident="att.stems" mode="delete"/>
        <classSpec type="atts" ident="att.typography" mode="delete"/>
        <classSpec type="atts" ident="att.visualOffset.ho" mode="delete"/>
        <classSpec type="atts" ident="att.visualOffset.to" mode="delete"/>
        <classSpec type="atts" ident="att.xy" mode="delete"/>
        <classSpec type="atts" ident="att.duration.gestural" mode="delete"/>
        
        <!-- model for new schematron rule -->
        <elementSpec ident="mdiv" module="MEI.shared" mode="change">
          <constraintSpec ident="mdiv_constraints" scheme="isoschematron" mode="add">
            <constraint>
              <sch:rule context="mei:mdiv">
                <sch:assert role="error" test="@xml:id and string-length(@xml:id) gt 5">Every mdiv element needs an @xml:id, and it needs to have a sufficient length. You should use UUIDs!</sch:assert>                                
              </sch:rule>
            </constraint>
          </constraintSpec>        
        </elementSpec>
        
        <elementSpec ident="syl" module="MEI.shared" mode="change">
          <constraintSpec ident="syl_constraints" scheme="isoschematron" mode="add">
            <constraint>
              <sch:rule context="mei:syl">
                <sch:assert role="error" test="not(@wordpos='t') or (not(@con) or @con = 'u')">
                  syl elements with @wordpos="t" must not have an attribute @con, except for @con="u".
                </sch:assert>
                <sch:assert role="error" test="not(@wordpos = ('i','m')) or @con">
                  syl elements with @wordpos="i" or ="m" need to have a @con attribute.
                </sch:assert>     
              </sch:rule>
            </constraint>
          </constraintSpec>        
        </elementSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>